<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Business Training Recommendations</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
      body {
        padding-top: 50px;
      }
      .container {
        max-width: 600px;
      }
      .custom-file-input:lang(en)~.custom-file-label::after {
        content: "Browse";
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Upload Business Dataset</h1>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="custom-file mb-3">
          <input type="file" class="custom-file-input" id="file" name="file" required>
          <label class="custom-file-label" for="file">Choose file</label>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Upload</button>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script>
      $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
      });
    </script>
  </body>
</html>
  